/data/*
!/data/
!/data/.gitkeep
!/data/sample/
!/data/sample/*.wav
/exp/*
!/exp/
!/exp/.gitkeep
/third_party/whisper.cpp/build*/
/third_party/whisper.cpp/models/*.bin
/third_party/whisper.cpp/models/*.gguf
__pycache__/
*.py[cod]
*.out
*.log
.DS_Store
